pytorch-lightning==0.6.0
fairseq==0.9.0
transformers==4.30.0
scikit-learn
asr_evaluation
scipy>=1.1.0
mutagen
numba==0.49.0
librosa
typing==3.6.2
tqdm
torchaudio==0.4.0
wandb==0.8.21
easydict
jupyter
editdistance
sentencepiece
rezero==0.1.0
pydub==0.23.1
webrtcvad==2.0.10
edit_distance
nltk
unidecode==1.1.1
textstat==0.6.2
hdbscan==0.8.26
scikit-optimize
